.heading
{
 font-size: 20px;
 width: 100%;
 margin: 0px;
 padding: 0px;
 box-shadow: 5px 5px 5px black;
}
.NOTE{
    font-size: 15px;
    color: black;


}
.copyright{
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
    font-size: 23px;
}
canvas{
    border: 5px solid black ;
    border-radius: 8px;
    box-shadow: 5px 5px gray;
}